<div class='top'>
	<div class='close'>
		<div class='icon-remove'></div>
	</div>
	<div class='title'>
		Choose a User
	</div>
	<div class='filter'>
		<select id='filter'>
			<OPTION value='all'>A-Z</OPTION><OPTION>A</OPTION><OPTION>B</OPTION><OPTION>C</OPTION><OPTION>D</OPTION><OPTION>E</OPTION><OPTION>F</OPTION><OPTION>G</OPTION><OPTION>H</OPTION><OPTION>I</OPTION><OPTION>J</OPTION><OPTION>K</OPTION><OPTION>L</OPTION><OPTION>M</OPTION><OPTION>N</OPTION><OPTION>O</OPTION><OPTION>P</OPTION><OPTION>Q</OPTION><OPTION>R</OPTION><OPTION>S</OPTION><OPTION>T</OPTION><OPTION>U</OPTION><OPTION>V</OPTION><OPTION>W</OPTION><OPTION>X</OPTION><OPTION>Y</OPTION><OPTION>Z</OPTION>
		</select>
	</div>
</div>
<div class='list'>
	<div class='loadingContainer'>
		<div class='icon-spinner icon-spin'></div>
	</div>
</div>