<div id="main" class="loginContainer"> 
    <div class="full_w">
        <div class="h_title"><i class="icon-lock"></i>{{lang 'Please Login'}}</div>
        <div class="h_content">

            <div id="form">
                <div class="inContainer">
                    <label for="login">{{lang 'Username'}}</label>
                    <input id="login" name="login" class="text" autocapitalize="off" autocorrect="off" />
                </div>
                <div class="inContainer">
                    <label for="pass">{{lang 'Password'}}</label>
                    <input id="pass" name="pass" type="password" class="text" />
                </div>
                <div class="buttonContainer">
                    <button type="submit" class="ok" id="loginButton"><i class="icon-ok"></i>{{lang 'Submit'}}</button>
                </div>
            </div>

        </div>
    </div>
</div>