<div id="main" class="loginContainer"> 
    <div class="full_w">
        <div class="h_title"></div>
        <div class="h_content">

            <div id="form">
                <div class="inContainer">
                    <label for="login">Username</label>
                    <input id="login" name="login" class="text" />
                </div>
                <div class="inContainer">
                    <label for="pass">Password</label>
                    <input id="pass" name="pass" type="password" class="text" />
                </div>
                <div class="buttonContainer">
                    <button type="submit" class="ok" id="loginButton">Login</button>
                </div>
            </div>

        </div>
    </div>
</div>