<div id="main" class="loginContainer"> 
    <div class="full_w">
        <div class="h_title"><i class="icon-briefcase"></i>Manage Patrollers</div>
        <div class="h_content">

            <div class="manage">
                <button class="addNew"><i class="icon-plus-sign-alt"></i>Add Patroller</button>
                <div class="filterContainer">
                    <input class="filter" placeholder="Start typing to filter">
                </div>
            </div>

            <div class="table">
                <div class="row head">
                    <div class="item"></div>
                    <div class="item">CSP #</div>
                    <div class="item">InstID</div>
                    <div class="item">Name</div>
                    <div class="item">E-mail</div>
                    <div class="item">Phone</div>
                </div>
                {{{table}}}
            </div>

        </div>
    </div>
</div>