<div id="main" class="loginContainer"> 
    <div class="full_w">
        <div class="h_title"><i class="icon-briefcase"></i>{{lang 'Settings'}}</div>
        <div class="h_content">

            <select id="language">
                <option value="english">English</option>
                <option value="french" {{#isFrench}} selected{{/isFrench}}>Français</option>
            </select>

        </div>
    </div>
</div>